/*universal*/
html{
    font-family: Helvetica;
    font-size:16px;
    background-color: #84b58b;
    text-align: center;
          
  }
  
  
  /*Header*/
  
  .banner{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background.jpg');
    background-position: center;
    width:100%;
    height:200px;
    margin-top:30px;
    border: 1px solid #000;
  }

  .name{
    font-size:3rem;
    text-decoration: underline overline #fff;
    color: #fff;       
  }

   nav{
    position: static;
    z-index: 100;
    width: 100%;
    left: 0px;
    right: 0px;
     }

  nav ul{
    margin-block-start:0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    background-color: #84b58b;
    padding-top: 10px;
    margin-top: 20px;
    width:100%;
    }

  nav ul li{
    display:inline;
    border: 0.125rem solid #000;
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.625rem;
    margin: 0.125rem 3.125rem;
    }
  
    nav a{
      color: #000;
      font-weight: bold;
      padding:0.125rem 3.25rem;
    }

/*media quries for tablets and phones*/
  @media only screen and (max-width: 760px) {
    .logo{
      width:90%;
      height:auto;
      }

   nav{
    position: static;
    }

   nav ul li{
    display:inline-block;
    margin: 0.0125rem 0.0125rem;
    width: 15%;
    }
  
    nav a{
      padding:0.0125rem 0.0125rem;
      }
    }

/*Main section*/
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 2.25rem 1.25rem;
  border: 0.0625rem solid #000;
}

.welcome img{
  border: 0.125rem solid #000;
  border-radius: 1rem;
  
}

.welcome p {
  font-size: 1.75rem;
}

/*media quries for tablets and phones*/
@media only screen and (max-width: 760px) {

.welcome {
margin: 1rem 1rem;
border: 0.0625rem solid #000;
font-size: 1rem;
padding: 0.625rem;
}

.welcome img{
width:12.5rem;
height: auto;
 }

.welcome p {
font-size: 0.75rem;
}
}

/*Walks*/

#walks{
  background-color: #fff;
  border: 0.0625rem solid #000;
  
}

.regular{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;  
  }

.schedule {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.monwed{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
}

.monwed img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.tuethur{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
}

.tuethur img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.fri{
  padding-left:0.625rem;
  padding-top:0.625rem;
  padding-right:0.625rem;
  padding-bottom:2.9375rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
}

.fri img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.satsun{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
}

.satsun img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

/*media quries for tablets and phones*/
@media only screen and (max-width: 760px) {
  
  .regular{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.0625rem;  
  font-size: 1.25rem;
  }

.schedule {
  font-size:0.75rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.monwed{
  padding:0.3125rem 0.3125rem;
  margin:0.125rem;
  padding-bottom: 1.125rem;
}
.monwed img{
  width: 9.375rem;
  height: 9.375rem;
  
}

.tuethur{
  padding:0.3125rem 0.3125rem;
  margin:0.125rem;
  
}
.tuethur img{
  width:9.375rem;
  height: 9.375rem;
}

.fri{
  padding:0.3125rem 0.3125rem;
  margin:0.125rem;
  padding-bottom: 1.125rem;
}

.fri img{
  width:9.375rem;
  height:9.375rem;
}

.satsun{
  padding:0.3125rem 0.3125rem;
  margin:0.125rem;
}
.satsun img{
  width:9.375rem;
  height:9.375rem;
}

img.route{
  width:3.125rem;
  height:3.125rem;
}
  }

/*events*/
#events{
  background-color: #fff;
  border: 0.0625rem solid #000;
  margin-top: 3.125rem;
  
}

.special{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;  
  }

.adventures {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.daytrip{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
  padding-bottom: 2.9375rem;
}

.daytrip img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.holiday{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
}

.holiday img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

/*media quries for tablets and phones*/
@media only screen and (max-width: 760px) {
  #events{
    margin-top: 1rem;
    font-size:0.75rem;
  }
    .special{
     
      margin-bottom: 0px;
    }
  
     .daytrip{
    padding:0.0625rem;
    margin:0.0625rem;
    width: 45%;
    padding-bottom:0.1875rem;
    }
  
  .daytrip img{
    width:9.375rem;
    height:9.375rem;
  }
  
  .holiday{
    padding:0.0625rem;
    margin:0.0625rem;
    width: 45%;
  }
  
  .holiday img{
    width:9.375rem;
    height:9.375rem;
  }
    }

/*Contact*/

#contact{
  background-color: #fff;
  border: 0.0625rem solid #000;
  margin-top: 3.125rem;
  
}

.getintouch{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;  
  }

.info {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  }

.tel{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
  padding-bottom: 2.25rem;
}

.tel img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.email{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 0.0625rem solid #000;
  width: 45%;
  padding-bottom: 82px;
}

.email img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

.add{
  padding:0.625rem;
  margin:0.625rem;
  background-color: #84b58b;
  border: 1px solid #000;
  width: 45%;
}

.add img{
  border: 0.0625rem solid #000;
  border-radius: 1rem;
}

/*media quries for tablets and phones*/
@media only screen and (max-width: 760px) {
  #contact{
 margin-top: 1.125rem;
}

.getintouch{
font-size:1rem;
 }

.info {
font-size:0.70rem;
}

.tel{
padding:0rem;
margin:0.5rem;
width: 45%;
padding-bottom:1.5rem;
margin:0.125rem;
}

.tel img{
width:1.875rem;
height:1.875rem;
}

.email{
padding:0rem;
margin:0.5rem;
width: 45%;
margin:0.125rem;
padding-bottom: 3rem;
}

.email img{
width:1.875rem;
height:1.875rem;
}

.add{
padding:0rem;
margin:0.5rem;
width: 45%;
margin:0.125rem;
}

.add img{
width:1.875rem;
height:1.875rem;
}
}


/*footer*/

footer{
  margin:0.625rem;
  padding:0.625rem;
  font-size: 1.25rem;
}

/*media quries for tablets and phones*/
@media only screen and (max-width: 760px) {
  footer{
    font-size:0.75rem;
  }
}
